/*region Variables*/
:root {
	/*size*/
	--ui-btn-size-xs: 26px;
	--ui-btn-size-sm: 31px;
	--ui-btn-size-md: 39px;
	--ui-btn-size-lg: 47px;
	/*default param*/
	--ui-btn-padding: 0 20px;
	--ui-btn-padding-right: 20px;
	--ui-btn-min-width: 80px;
	--ui-btn-height: var(--ui-btn-size-md);
	--ui-btn-font-size: 12px;
	--ui-btn-background: #868d95;
	--ui-btn-background-hover: #5b6573;
	--ui-btn-background-active: #3b506e;
	--ui-btn-border-color: #868d95;
	--ui-btn-border-color-hover: #5b6573;
	--ui-btn-border-color-active: #3b506e;
	--ui-btn-border: 1px solid var(--ui-btn-border-color);
	--ui-btn-opacity-after: .8;
	--ui-btn-colors-after-bg: #fff;
	--ui-btn-colors-before-bg: #fff;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
	--ui-btn-box-shadow: none;
	--ui-btn-box-shadow-hover: none;
	--ui-btn-box-shadow-active: none;
	--ui-btn-text-shadow: none;
	--ui-btn-text-shadow-hover: none;
	--ui-btn-text-shadow-active: none;
}

/*endregion*/

/*region Base style*/
.ui-btn-container { margin: 15px 0; }

.ui-btn-container-center { text-align: center; }

.ui-btn,
.ui-btn-main,
.ui-btn-extra,
.ui-btn-menu {
	box-sizing: border-box;
	margin: 0;
	height: var(--ui-btn-height);
	outline: none;
	border: var(--ui-btn-border);
	border-color: var(--ui-btn-border-color);
	background-color: var(--ui-btn-background);
	box-shadow: var(--ui-btn-box-shadow);
	text-shadow: var(--ui-btn-text-shadow);
	cursor: pointer;
	transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}

.ui-btn,
.ui-btn-main {
	position: relative;
	display: inline-block;
	padding: var(--ui-btn-padding);
	color: var(--ui-btn-color);
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font: var(--ui-btn-font-size)/calc(var(--ui-btn-height) - 2px) "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-btn {
	min-width: var(--ui-btn-min-width);
	border-radius: 2px;
}

.ui-btn-double,
.ui-btn-split {
	position: relative;
	display: inline-block;
	padding-right: 30px;
	border-radius: 3px;
}

.ui-btn-main {
	padding-right: var(--ui-btn-padding-right);
	border-right: none !important;
	border-radius: 2px 0 0 2px;
}

.ui-btn-extra,
.ui-btn-menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	border-left: none !important;
	border-radius: 0 2px 2px 0;
}

.ui-btn:hover,
a.ui-btn:focus,
.ui-btn-main:hover,
.ui-btn-main:focus,
.ui-btn-extra:hover,
.ui-btn-menu:hover,
.ui-btn.ui-btn-hover,
.ui-btn-hover .ui-btn-main,
.ui-btn-hover .ui-btn-extra,
.ui-btn-hover .ui-btn-menu,
.ui-btn-main-hover .ui-btn-main,
.ui-btn-extra-hover .ui-btn-extra,
.ui-btn-menu-hover .ui-btn-menu {
	border-color: var(--ui-btn-border-color-hover);
	background-color: var(--ui-btn-background-hover);
	box-shadow: var(--ui-btn-box-shadow-hover);
	color: var(--ui-btn-color-hover);
	text-decoration: none;
	text-shadow: var(--ui-btn-text-shadow-hover);
}

.ui-btn:active,
a.ui-btn:focus,
a.ui-btn-split:focus,
a.ui-btn-double:focus,
.ui-btn-main:active,
.ui-btn-menu:active,
.ui-btn-extra:active,

.ui-btn-wait.ui-btn,
.ui-btn-wait .ui-btn-main,
.ui-btn-clock.ui-btn,
.ui-btn-clock .ui-btn-main,
.ui-btn-active.ui-btn,
.ui-btn-active .ui-btn-main,
.ui-btn-active .ui-btn-menu,
.ui-btn-active .ui-btn-extra,
.ui-btn-main-active .ui-btn-main,
.ui-btn-menu-active .ui-btn-menu,
.ui-btn-extra-active .ui-btn-extra,

.ui-btn-wait.ui-btn:hover,
.ui-btn-wait .ui-btn-main:hover,
.ui-btn-clock.ui-btn:hover,
.ui-btn-clock .ui-btn-main:hover,
.ui-btn-active.ui-btn:hover,
.ui-btn-active .ui-btn-main:hover,
.ui-btn-active .ui-btn-menu:hover,
.ui-btn-active .ui-btn-extra:hover,
.ui-btn-main-active .ui-btn-main:hover,
.ui-btn-menu-active .ui-btn-menu:hover,
.ui-btn-extra-active .ui-btn-extra:hover {
	outline: none;
	border-color: var(--ui-btn-border-color-active);
	background-color: var(--ui-btn-background-active);
	box-shadow: var(--ui-btn-box-shadow-active);
	color: var(--ui-btn-color-active);
	text-shadow: var(--ui-btn-text-shadow-active);
}

.ui-btn-extra:after,
.ui-btn-menu:after {
	position: absolute;
	top: 7px;
	bottom: 6px;
	left: 0;
	width: 1px;
	background-color: var(--ui-btn-colors-after-bg);
	content: '';
	opacity: var(--ui-btn-opacity-after);
}

.ui-btn-extra:before,
.ui-btn-menu:before {
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	margin-top: -2px;
	margin-left: -4px;
	width: 8px;
	border: 4px solid transparent;
	border-top-color: var(--ui-btn-colors-before-bg);
	background: none;
	content: '';
	transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}

.ui-btn + .ui-btn,
.ui-btn + .ui-btn-double,
.ui-btn-double + .ui-btn,
.ui-btn-double + .ui-btn-double,
.ui-btn + .ui-btn-split,
.ui-btn-split + .ui-btn,
.ui-btn-split + .ui-btn-split,
.ui-ctl + .ui-btn,
.ui-ctl + .ui-btn-double,
.ui-ctl + .ui-btn-split { margin-left: 12px; }

/*endregion*/

/*region Size*/
.ui-btn-md {
	--ui-btn-padding: 0 19px;
	--ui-btn-padding-right: 19px;
	--ui-btn-min-width: 80px;
	--ui-btn-height: var(--ui-btn-size-md);
	--ui-btn-font-size: 12px;
}

.ui-btn-lg {
	--ui-btn-padding: 0 26px;
	--ui-btn-padding-right: 26px;
	--ui-btn-min-width: 90px;
	--ui-btn-height: var(--ui-btn-size-lg);
	--ui-btn-font-size: 12px;
}

.ui-btn-sm {
	--ui-btn-padding: 0 17px;
	--ui-btn-padding-right: 17px;
	--ui-btn-min-width: 70px;
	--ui-btn-height: var(--ui-btn-size-sm);
	--ui-btn-font-size: 12px;
}

.ui-btn-xs {
	--ui-btn-padding: 0 15px;
	--ui-btn-padding-right: 15px;
	--ui-btn-min-width: 66px;
	--ui-btn-height: var(--ui-btn-size-xs);
	--ui-btn-font-size: 11px;
}

.ui-btn-double.ui-btn-lg,
.ui-btn-split.ui-btn-lg { padding-right: 33px; }

.ui-btn-lg .ui-btn-main { border-radius: 3px 0 0 3px; }

.ui-btn-lg .ui-btn-extra,
.ui-btn-lg .ui-btn-menu {
	width: 33px;
	border-radius: 0 3px 3px 0;
}

.ui-btn-lg .ui-btn-extra:before,
.ui-btn-lg .ui-btn-menu:before { margin-top: -3px; }

.ui-btn-lg .ui-btn-extra:after,
.ui-btn-lg .ui-btn-menu:after {
	top: 11px;
	bottom: 10px;
}

/*endregion*/

/*region Colors*/
/*region Color Variables*/
.ui-btn-default { /* default variables */ }

.ui-btn-success {
	--ui-btn-background: #bbed21;
	--ui-btn-background-hover: #d2f95f;
	--ui-btn-background-active: #b2e232;
	--ui-btn-border-color: #bbed21;
	--ui-btn-border-color-hover: #d2f95f;
	--ui-btn-border-color-active: #b2e232;
	--ui-btn-opacity-after: .2;
	--ui-btn-colors-after-bg: #535c69;
	--ui-btn-colors-before-bg: #535c69;
	--ui-btn-color: #535c69;
	--ui-btn-color-hover: #535c69;
	--ui-btn-color-active: #535c69;
}

.ui-btn-success-light {
	--ui-btn-background: #e1f0b1;
	--ui-btn-background-hover: #eaf5c5;
	--ui-btn-background-active: #d3e59a;
	--ui-btn-border-color: #e1f0b1;
	--ui-btn-border-color-hover: #eaf5c5;
	--ui-btn-border-color-active: #d3e59a;
	--ui-btn-opacity-after: .2;
	--ui-btn-colors-after-bg: #333;
	--ui-btn-colors-before-bg: #a3bf63;
	--ui-btn-color: #668d13;
	--ui-btn-color-hover: #668d13;
	--ui-btn-color-active: #668d13;
}

.ui-btn-success-dark {
	--ui-btn-background: #86A732;
	--ui-btn-background-hover: #A2BF54;
	--ui-btn-background-active: #A2BF54;
	--ui-btn-border-color: #86A732;
	--ui-btn-border-color-hover: #A2BF54;
	--ui-btn-border-color-active: #A2BF54;
	--ui-btn-opacity-after: .2;
	--ui-btn-colors-after-bg: #fff;
	--ui-btn-colors-before-bg: #a3bf63;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
}

.ui-btn-danger {
	--ui-btn-background: #f1361a;
	--ui-btn-background-hover: #cc1c00;
	--ui-btn-background-active: #d24430;
	--ui-btn-border-color: #f1361a;
	--ui-btn-border-color-hover: #cc1c00;
	--ui-btn-border-color-active: #d24430;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
}

.ui-btn-danger-dark {
	--ui-btn-background: #A21429;
	--ui-btn-background-hover: #C43D51;
	--ui-btn-background-active: #C43D51;
	--ui-btn-border-color: #A21429;
	--ui-btn-border-color-hover: #C43D51;
	--ui-btn-border-color-active: #C43D51;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
}

.ui-btn-danger-light {
	--ui-btn-background: #ffccca;
	--ui-btn-background-hover: #ffdcdb;
	--ui-btn-background-active: #f2b6b3;
	--ui-btn-border-color: #ffccca;
	--ui-btn-border-color-hover: #ffdcdb;
	--ui-btn-border-color-active: #f2b6b3;
	--ui-btn-opacity-after: .2;
	--ui-btn-colors-after-bg: #333;
	--ui-btn-colors-before-bg: #eb8783;
	--ui-btn-color: #d7413c;
	--ui-btn-color-hover: #d7413c;
	--ui-btn-color-active: #d7413c;
}

.ui-btn-primary {
	--ui-btn-background: #3bc8f5;
	--ui-btn-background-hover: #3eddff;
	--ui-btn-background-active: #12b1e3;
	--ui-btn-border-color: #3bc8f5;
	--ui-btn-border-color-hover: #3eddff;
	--ui-btn-border-color-active: #12b1e3;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
}

.ui-btn-primary-dark {
	--ui-btn-background: #399FC2;
	--ui-btn-background-hover: #37AED4;
	--ui-btn-background-active: #37AED4;
	--ui-btn-border-color: #399FC2;
	--ui-btn-border-color-hover: #37AED4;
	--ui-btn-border-color-active: #37AED4;
	--ui-btn-color: #fff;
	--ui-btn-color-hover: #fff;
	--ui-btn-color-active: #fff;
}

.ui-btn-secondary {
	--ui-btn-background: #c5e7f4;
	--ui-btn-background-hover: #d1eef9;
	--ui-btn-background-active: #aee0f2;
	--ui-btn-border-color: #aee0f2;
	--ui-btn-border-color-hover: #aee0f2;
	--ui-btn-border-color-active: #aee0f2;
	--ui-btn-colors-after-bg: #535c69;
	--ui-btn-colors-before-bg: #535c69;
	--ui-btn-color: #535c69;
	--ui-btn-color-hover: #535c69;
	--ui-btn-color-active: #535c69;
}

.ui-btn-link {
	--ui-btn-background: transparent;
	--ui-btn-background-hover: transparent;
	--ui-btn-background-active: transparent;
	--ui-btn-border-color: transparent;
	--ui-btn-border-color-hover: transparent;
	--ui-btn-border-color-active: transparent;
	--ui-btn-opacity-after: .5;
	--ui-btn-colors-after-bg: #535c69;
	--ui-btn-colors-before-bg: #535c69;
	--ui-btn-color: #535c69;
	--ui-btn-color-hover: #80868e;
	--ui-btn-color-active: #535c69;
}

.ui-btn-light {
	--ui-btn-background: transparent;
	--ui-btn-background-hover: #f6f8f9;
	--ui-btn-background-active: #d6f1fb;
	--ui-btn-border-color: transparent;
	--ui-btn-border-color-hover: #f6f8f9;
	--ui-btn-border-color-active: #d6f1fb;
	--ui-btn-opacity-after: .5;
	--ui-btn-colors-after-bg: #535c69;
	--ui-btn-colors-before-bg: #535c69;
	--ui-btn-color: #535c69;
	--ui-btn-color-hover: #333;
	--ui-btn-color-active: #000;
}

.ui-btn-light-border {
	--ui-btn-background: transparent;
	--ui-btn-background-hover: #cfd4d8;
	--ui-btn-background-active: #dde2e5;
	--ui-btn-border-color: #c6cdd3;
	--ui-btn-border-color-hover: #c6cdd3;
	--ui-btn-border-color-active: #9fa4ab;
	--ui-btn-opacity-after: .5;
	--ui-btn-colors-after-bg: #535c69;
	--ui-btn-colors-before-bg: #535c69;
	--ui-btn-color: #535b69;
	--ui-btn-color-hover: #535b69;
	--ui-btn-color-active: #535b69;
}

/*endregion*/

/*region Button Color*/

/*region Link button*/
.ui-btn-link.ui-btn {
	padding-right: 0;
	padding-left: 0;
}

.ui-btn-link .ui-btn-main { padding-left: 0; }

/*endregion*/

/*region Light-border button*/

/*region Fix for Themes*/
.bitrix24-light-theme .ui-btn-themes.ui-btn-light,
.bitrix24-light-theme .ui-btn-themes.ui-btn-light-border {
	background-color: rgba(255, 255, 255, .15);
	color: #fff;
}

.bitrix24-light-theme .ui-btn-themes.ui-btn-light-border { border-color: rgba(255, 255, 255, .4); }

.bitrix24-light-theme .ui-btn-themes.ui-btn-light:hover,
.bitrix24-light-theme .ui-btn-themes.ui-btn-light-border:hover { background-color: rgba(255, 255, 255, .3); }

.bitrix24-light-theme .ui-btn-themes.ui-btn-light:active,
.bitrix24-light-theme .ui-btn-themes.ui-btn-light-border:active { background-color: rgba(255, 255, 255, .4); }

.bitrix24-light-theme .ui-btn-themes.ui-btn-light.ui-btn-dropdown:before,
.bitrix24-light-theme .ui-btn-themes.ui-btn-light-border.ui-btn-dropdown:before { border-color: #fff; }

.bitrix24-dark-theme .ui-btn-themes.ui-btn-light,
.bitrix24-dark-theme .ui-btn-themes.ui-btn-light-border {
	background-color: rgba(0, 0, 0, .07);
	color: rgba(51, 51, 51, .8);
}

.bitrix24-dark-theme .ui-btn-themes.ui-btn-light-border { border-color: rgba(0, 0, 0, .06); }

.bitrix24-dark-theme .ui-btn-themes.ui-btn-light:hover,
.bitrix24-dark-theme .ui-btn-themes.ui-btn-light-border:hover { background-color: rgba(0, 0, 0, .1); }

.bitrix24-dark-theme .ui-btn-themes.ui-btn-light:active,
.bitrix24-dark-theme .ui-btn-themes.ui-btn-light-border:active { background-color: rgba(0, 0, 0, .15); }

.bitrix24-dark-theme .ui-btn-themes.ui-btn-link.ui-btn-dropdown:before,
.bitrix24-dark-theme .ui-btn-themes.ui-btn-light.ui-btn-dropdown:before,
.bitrix24-dark-theme .ui-btn-themes.ui-btn-light-border.ui-btn-dropdown:before { border-color: rgba(51, 51, 51, .8); }

/*endregion*/

/*endregion*/

/*endregion*/

/*endregion*/

/*region Others*/

.ui-btn-round { border-radius: calc(var(--ui-btn-height) / 2); }

.ui-btn-no-caps,
.ui-btn-no-caps .ui-btn-main {
	text-transform: none;
	font-weight: 400;
}

/*region Counter*/
.ui-btn-counter {
	display: inline-block;
	margin-top: -2px;
	padding: 0 8px;
	border-radius: 10px;
	background-color: #f34829;
	color: #fff;
	vertical-align: middle;
	font: 11px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
}

.ui-btn-xs .ui-btn-counter { margin-top: -4px; }

/*endregion*/

/*region Dropdown*/
.ui-btn.ui-btn-dropdown,
.ui-btn-dropdown .ui-btn-main { padding-right: 29px; }

.ui-btn.ui-btn-dropdown:before,
.ui-btn-dropdown .ui-btn-main:before {
	position: absolute;
	top: 50%;
	right: 13px;
	display: block;
	box-sizing: border-box;
	margin-top: -2.5px;
	width: 8px;
	height: 8px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	content: '';
	transform: translateY(-50%) rotate(-45deg);
}

.ui-btn.ui-btn-dropdown:before,
.ui-btn-dropdown .ui-btn-main:before { border-color: var(--ui-btn-color); }

/*endregion*/

/*region Disabled*/
.ui-btn.ui-btn-disabled,
.ui-btn.ui-btn-disabled:hover,
.ui-btn.ui-btn-disabled:active,
.ui-btn-disabled .ui-btn-main,
.ui-btn-disabled .ui-btn-main:hover,
.ui-btn-disabled .ui-btn-main:active,
.ui-btn-disabled .ui-btn-extra,
.ui-btn-disabled .ui-btn-extra:hover,
.ui-btn-disabled .ui-btn-extra:active,
.ui-btn-disabled .ui-btn-menu,
.ui-btn-disabled .ui-btn-menu:hover,
.ui-btn-disabled .ui-btn-menu:active,
.ui-btn-main-disabled .ui-btn-main,
.ui-btn-main-disabled .ui-btn-main:hover,
.ui-btn-main-disabled .ui-btn-main:active,
.ui-btn-extra-disabled .ui-btn-extra,
.ui-btn-extra-disabled .ui-btn-extra:hover,
.ui-btn-extra-disabled .ui-btn-extra:active,
.ui-btn-menu-disabled .ui-btn-menu,
.ui-btn-menu-disabled .ui-btn-menu:hover,
.ui-btn-menu-disabled .ui-btn-menu:active {
	opacity: .4;
	cursor: not-allowed;
}

/*endregion*/

/*region Wait*/
.ui-btn.ui-btn-wait,
.ui-btn-wait .ui-btn-main {
	background-position: center !important;
	background-repeat: no-repeat !important;
	color: transparent !important;
}

.ui-btn.ui-btn-wait:after,
.ui-btn-wait .ui-btn-main:after { opacity: 0; }

.ui-btn-wait,
.ui-btn-wait.ui-btn-danger,
.ui-btn-wait.ui-btn-primary,
.ui-btn-wait.ui-btn-default { --ui-btn-wait-loader: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/bitrix/js/ui/buttons/images/ui-loader-wait-white.min.svg); }

.ui-btn-wait.ui-btn-danger-dark,
.ui-btn-wait.ui-btn-success-dark,
.ui-btn-wait.ui-btn-primary-dark,
.ui-btn-wait.ui-btn-link,
.ui-btn-wait.ui-btn-secondary,
.ui-btn-wait.ui-btn-light,
.ui-btn-wait.ui-btn-success,
.ui-btn-wait.ui-btn-light-border,
.ui-btn-wait.ui-btn-link { --ui-btn-wait-loader: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/bitrix/js/ui/buttons/images/ui-loader-wait-black.min.svg); }

.ui-btn.ui-btn-wait,
.ui-btn-wait .ui-btn-main { background-image: var(--ui-btn-wait-loader); }

/*endregion*/

/*region Clock*/
.ui-btn.ui-btn-clock,
.ui-btn-double.ui-btn-clock .ui-btn-main,
.ui-btn-split.ui-btn-clock .ui-btn-main {
	background-position: center !important;
	background-repeat: no-repeat !important;
	color: transparent !important;
}

.ui-btn.ui-btn-clock:after,
.ui-btn-double.ui-btn-clock .ui-btn-main:after,
.ui-btn-split.ui-btn-clock .ui-btn-main:after { opacity: 0; }

.ui-btn-clock,
.ui-btn-clock.ui-btn-danger,
.ui-btn-clock.ui-btn-primary,
.ui-btn-clock.ui-btn-default { --ui-btn-clock-loader: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/bitrix/js/ui/buttons/images/ui-loader-clock-white.min.svg); }

.ui-btn-clock.ui-btn-danger-dark,
.ui-btn-clock.ui-btn-success-dark,
.ui-btn-clock.ui-btn-primary-dark,
.ui-btn-clock.ui-btn-link,
.ui-btn-clock.ui-btn-secondary,
.ui-btn-clock.ui-btn-light,
.ui-btn-clock.ui-btn-success,
.ui-btn-clock.ui-btn-light-border,
.ui-btn-clock.ui-btn-link { --ui-btn-clock-loader: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/bitrix/js/ui/buttons/images/ui-loader-clock-black.min.svg); }

.ui-btn.ui-btn-clock,
.ui-btn-clock .ui-btn-main { background-image: var(--ui-btn-clock-loader); }

/*endregion*/

/*endregion*/
/*region Base style*/
.bx-ie .ui-btn,
.bx-ie .ui-btn-main,
.bx-ie .ui-btn-extra,
.bx-ie .ui-btn-menu {
	height: 39px;
	border: 1px solid #868d95;
	background: #868d95;
	box-shadow: none;
	text-shadow: none;
	transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}

.bx-ie .ui-btn,
.bx-ie .ui-btn-main {
	padding: 0 19px;
	color: #fff;
	font: 600 12px/37px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-ie .ui-btn { min-width: 80px; }

.bx-ie .ui-btn-main { padding-right: 20px; }

.bx-ie .ui-btn:hover,
.bx-ie a.ui-btn:focus,
.bx-ie .ui-btn.ui-btn-hover,
.bx-ie .ui-btn-main:hover,
.bx-ie .ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-extra:hover,
.bx-ie .ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-menu:hover,
.bx-ie .ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-menu-hover .ui-btn-menu {
	border-color: #5b6573;
	background: #5b6573;
	color: #fff;
}

.bx-ie .ui-btn:active,
.bx-ie .ui-btn-wait.ui-btn,
.bx-ie .ui-btn-wait.ui-btn:hover,
.bx-ie .ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-wait .ui-btn-main:hover,
.bx-ie .ui-btn-wait .ui-btn-main:active,
.bx-ie .ui-btn-clock.ui-btn,
.bx-ie .ui-btn-clock.ui-btn:hover,
.bx-ie .ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-clock .ui-btn-main:hover,
.bx-ie .ui-btn-clock .ui-btn-main:active,
.bx-ie .ui-btn-active.ui-btn,
.bx-ie .ui-btn-active.ui-btn:hover,
.bx-ie .ui-btn-main:active,
.bx-ie .ui-btn-extra:active,
.bx-ie .ui-btn-menu:active,
.bx-ie .ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-active .ui-btn-main:hover,
.bx-ie .ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-main-active .ui-btn-main:hover,
.bx-ie .ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-active .ui-btn-extra:hover,
.bx-ie .ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-extra-active .ui-btn-extra:hover,
.bx-ie .ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-active .ui-btn-menu:hover,
.bx-ie .ui-btn-menu-active .ui-btn-menu,
.bx-ie .ui-btn-menu-active .ui-btn-menu:hover {
	border-color: #3b506e;
	background: #3b506e;
	color: #fff;
}

.bx-ie .ui-btn-extra:after,
.bx-ie .ui-btn-menu:after {
	background-color: #fff;
	opacity: .8;
}

.bx-ie .ui-btn-extra:before,
.bx-ie .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Size*/
.bx-ie .ui-btn.ui-btn-md { min-width: 80px; }

.bx-ie .ui-btn.ui-btn-md,
.bx-ie .ui-btn-md .ui-btn-main { padding: 0 19px; }

.bx-ie .ui-btn.ui-btn-md,
.bx-ie .ui-btn-md .ui-btn-main,
.bx-ie .ui-btn-md .ui-btn-extra,
.bx-ie .ui-btn-md .ui-btn-menu {
	height: 39px;
	font-size: 12px;
	line-height: 39px;
}

.bx-ie .ui-btn.ui-btn-lg { min-width: 90px; }

.bx-ie .ui-btn.ui-btn-lg,
.bx-ie .ui-btn-lg .ui-btn-main { padding: 0 26px; }

.bx-ie .ui-btn.ui-btn-lg,
.bx-ie .ui-btn-lg .ui-btn-main,
.bx-ie .ui-btn-lg .ui-btn-extra,
.bx-ie .ui-btn-lg .ui-btn-menu {
	height: 47px;
	font-size: 12px;
	line-height: 47px;
}

.bx-ie .ui-btn.ui-btn-sm { min-width: 70px; }

.bx-ie .ui-btn.ui-btn-sm,
.bx-ie .ui-btn-sm .ui-btn-main { padding: 0 17px; }

.bx-ie .ui-btn.ui-btn-sm,
.bx-ie .ui-btn-sm .ui-btn-main,
.bx-ie .ui-btn-sm .ui-btn-extra,
.bx-ie .ui-btn-sm .ui-btn-menu {
	height: 31px;
	font-size: 12px;
	line-height: 31px;
}

.bx-ie .ui-btn.ui-btn-xs { min-width: 66px; }

.bx-ie .ui-btn.ui-btn-xs,
.bx-ie .ui-btn-xs .ui-btn-main { padding: 0 15px; }

.bx-ie .ui-btn.ui-btn-xs,
.bx-ie .ui-btn-xs .ui-btn-main,
.bx-ie .ui-btn-xs .ui-btn-extra,
.bx-ie .ui-btn-xs .ui-btn-menu {
	height: 26px;
	font-size: 11px;
	line-height: 26px;
}

/*endregion*/

/*region Colors*/

/* region Default */
.bx-ie .ui-btn-default.ui-btn,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-menu { background-color: #868d95; }

.bx-ie .ui-btn-default.ui-btn,
.bx-ie a.ui-btn-default.ui-btn:focus,
.bx-ie .ui-btn-default.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main:hover,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra:hover,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-main:hover,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-menu:hover,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-menu-hover .ui-btn-menu { background-color: #5b6573; }

.bx-ie .ui-btn-default.ui-btn:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-main:active,
.bx-ie .ui-btn-default.ui-btn-double .ui-btn-extra:active,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-double.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-main:active,
.bx-ie .ui-btn-default.ui-btn-split .ui-btn-menu:active,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-split.ui-btn-menu-active .ui-btn-menu { background-color: #3b506e; }

/*endregion*/

/*region Default button */
.bx-ie .ui-btn-default.ui-btn,
.bx-ie .ui-btn-default .ui-btn-main,
.bx-ie .ui-btn-default .ui-btn-extra,
.bx-ie .ui-btn-default .ui-btn-menu {
	border-color: #868d95;
	background-color: #868d95;
	color: #fff;
}

.bx-ie a.ui-btn-default.ui-btn:focus,
.bx-ie .ui-btn-default.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-default .ui-btn-main:hover,
.bx-ie .ui-btn-default .ui-btn-extra:hover,
.bx-ie .ui-btn-default .ui-btn-menu:hover,
.bx-ie .ui-btn-default.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-default.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-menu-hover .ui-btn-menu {
	border-color: #5b6573;
	background-color: #5b6573;
	color: #fff;
}

.bx-ie .ui-btn-default.ui-btn:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-default.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-default.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-active,
.bx-ie .ui-btn-default.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-default .ui-btn-main:active,
.bx-ie .ui-btn-default .ui-btn-extra:active,
.bx-ie .ui-btn-default .ui-btn-menu:active,
.bx-ie .ui-btn-default.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-default.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-default.ui-btn-menu-active .ui-btn-menu {
	border-color: #3b506e;
	background-color: #3b506e;
	color: #fff;
}

.bx-ie .ui-btn-success .ui-btn-extra:after,
.bx-ie .ui-btn-success .ui-btn-menu:after { background-color: #fff; }

.bx-ie .ui-btn-success .ui-btn-extra:before,
.bx-ie .ui-btn-success .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Success button */
.bx-ie .ui-btn-success.ui-btn,
.bx-ie .ui-btn-success .ui-btn-main,
.bx-ie .ui-btn-success .ui-btn-extra,
.bx-ie .ui-btn-success .ui-btn-menu {
	border-color: #bbed21;
	background-color: #bbed21;
	color: #535c69;
}

.bx-ie a.ui-btn-success.ui-btn:focus,
.bx-ie .ui-btn-success.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-success .ui-btn-main:hover,
.bx-ie .ui-btn-success .ui-btn-extra:hover,
.bx-ie .ui-btn-success .ui-btn-menu:hover,
.bx-ie .ui-btn-success.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-success.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-menu-hover .ui-btn-menu {
	border-color: #d2f95f;
	background-color: #d2f95f;
	color: #535c69;
}

.bx-ie .ui-btn-success.ui-btn:active,
.bx-ie .ui-btn-success.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-success.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-success.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-success.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-success.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-success.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-success.ui-btn.ui-btn-active,
.bx-ie .ui-btn-success.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-success .ui-btn-main:active,
.bx-ie .ui-btn-success .ui-btn-extra:active,
.bx-ie .ui-btn-success .ui-btn-menu:active,
.bx-ie .ui-btn-success.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-success.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-success.ui-btn-menu-active .ui-btn-menu {
	border-color: #b2e232;
	background-color: #b2e232;
	color: #535c69;
}

.bx-ie .ui-btn-success .ui-btn-extra:after,
.bx-ie .ui-btn-success .ui-btn-menu:after { background-color: #535c69; }

.bx-ie .ui-btn-success .ui-btn-extra:before,
.bx-ie .ui-btn-success .ui-btn-menu:before { border-top-color: #535c69; }

/*endregion*/

/*region Success Light button */
.bx-ie .ui-btn-success-light.ui-btn,
.bx-ie .ui-btn-success-light .ui-btn-main,
.bx-ie .ui-btn-success-light .ui-btn-extra,
.bx-ie .ui-btn-success-light .ui-btn-menu {
	border-color: #e1f0b1;
	background-color: #e1f0b1;
	color: #668d13;
}

.bx-ie .ui-btn-success-light.ui-btn:hover,
.bx-ie a.ui-btn-success-light.ui-btn:focus,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-success-light .ui-btn-main:hover,
.bx-ie .ui-btn-success-light .ui-btn-extra:hover,
.bx-ie .ui-btn-success-light .ui-btn-menu:hover,
.bx-ie .ui-btn-success-light.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-success-light.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-menu-hover .ui-btn-menu {
	border-color: #eaf5c5;
	background-color: #eaf5c5;
	color: #668d13;
}

.bx-ie .ui-btn-success-light.ui-btn:active,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-success-light.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-success-light .ui-btn-main:active,
.bx-ie .ui-btn-success-light .ui-btn-extra:active,
.bx-ie .ui-btn-success-light .ui-btn-menu:active,
.bx-ie .ui-btn-success-light.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-success-light.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-success-light.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-success-light.ui-btn-menu-active .ui-btn-menu {
	border-color: #d3e59a;
	background-color: #d3e59a;
	color: #668d13;
}

.bx-ie .ui-btn-success-light .ui-btn-extra:after,
.bx-ie .ui-btn-success-light .ui-btn-menu:after { background-color: #668d13; }

.bx-ie .ui-btn-success-light .ui-btn-extra:before,
.bx-ie .ui-btn-success-light .ui-btn-menu:before { border-top-color: #668d13; }

/*endregion*/

/*region Danger button */
.bx-ie .ui-btn-danger.ui-btn,
.bx-ie .ui-btn-danger .ui-btn-main,
.bx-ie .ui-btn-danger .ui-btn-extra,
.bx-ie .ui-btn-danger .ui-btn-menu {
	border-color: #f1361a;
	background-color: #f1361a;
	color: #fff;
}

.bx-ie .ui-btn-danger.ui-btn:hover,
.bx-ie a.ui-btn-danger.ui-btn:focus,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-danger .ui-btn-main:hover,
.bx-ie .ui-btn-danger .ui-btn-extra:hover,
.bx-ie .ui-btn-danger .ui-btn-menu:hover,
.bx-ie .ui-btn-danger.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-danger.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-menu-hover .ui-btn-menu {
	border-color: #cc1c00;
	background-color: #cc1c00;
	color: #fff;
}

.bx-ie .ui-btn-danger.ui-btn:active,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-active,
.bx-ie .ui-btn-danger.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-danger .ui-btn-main:active,
.bx-ie .ui-btn-danger .ui-btn-extra:active,
.bx-ie .ui-btn-danger .ui-btn-menu:active,
.bx-ie .ui-btn-danger.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-danger.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-danger.ui-btn-menu-active .ui-btn-menu {
	border-color: #d24430;
	background-color: #d24430;
	color: #fff;
}

.bx-ie .ui-btn-danger .ui-btn-extra:after,
.bx-ie .ui-btn-danger .ui-btn-menu:after { background-color: #fff; }

.bx-ie .ui-btn-danger .ui-btn-extra:before,
.bx-ie .ui-btn-danger .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Danger Dark button */
.bx-ie .ui-btn-danger-dark.ui-btn,
.bx-ie .ui-btn-danger-dark .ui-btn-main,
.bx-ie .ui-btn-danger-dark .ui-btn-extra,
.bx-ie .ui-btn-danger-dark .ui-btn-menu {
	border-color: #a21529;
	background-color: #a21529;
	color: #fff;
}

.bx-ie .ui-btn-danger-dark.ui-btn:hover,
.bx-ie a.ui-btn-danger-dark.ui-btn:focus,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-danger-dark .ui-btn-main:hover,
.bx-ie .ui-btn-danger-dark .ui-btn-extra:hover,
.bx-ie .ui-btn-danger-dark .ui-btn-menu:hover,
.bx-ie .ui-btn-danger-dark.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-danger-dark.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-danger-dark.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-danger-dark.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-danger-dark.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-danger-dark.ui-btn-menu-hover .ui-btn-menu {
	border-color: #c53e51;
	background-color: #c53e51;
	color: #fff;
}

.bx-ie .ui-btn-danger-dark.ui-btn:active,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-active,
.bx-ie .ui-btn-danger-dark.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-danger-dark .ui-btn-main:active,
.bx-ie .ui-btn-danger-dark .ui-btn-extra:active,
.bx-ie .ui-btn-danger-dark .ui-btn-menu:active,
.bx-ie .ui-btn-danger-dark.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-danger-dark.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-danger-dark.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-danger-dark.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-danger-dark.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-danger-dark.ui-btn-menu-active .ui-btn-menu {
	border-color: #c53e51;
	background-color: #c53e51;
	color: #fff;
}

.bx-ie .ui-btn-danger-dark .ui-btn-extra:after,
.bx-ie .ui-btn-danger-dark .ui-btn-menu:after { background-color: #fff; }

.bx-ie .ui-btn-danger-dark .ui-btn-extra:before,
.bx-ie .ui-btn-danger-dark .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Danger Light button */
.bx-ie .ui-btn-danger-light.ui-btn,
.bx-ie .ui-btn-danger-light .ui-btn-main,
.bx-ie .ui-btn-danger-light .ui-btn-extra,
.bx-ie .ui-btn-danger-light .ui-btn-menu {
	border-color: #ffccca;
	background-color: #ffccca;
	color: #d7413c;
}

.bx-ie .ui-btn-danger-light.ui-btn:hover,
.bx-ie a.ui-btn-danger-light.ui-btn:focus,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-danger-light .ui-btn-main:hover,
.bx-ie .ui-btn-danger-light .ui-btn-extra:hover,
.bx-ie .ui-btn-danger-light .ui-btn-menu:hover,
.bx-ie .ui-btn-danger-light.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-danger-light.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-menu-hover .ui-btn-menu {
	border-color: #ffdcdb;
	background-color: #ffdcdb;
	color: #d7413c;
}

.bx-ie .ui-btn-danger-light.ui-btn:active,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-danger-light.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-danger-light .ui-btn-main:active,
.bx-ie .ui-btn-danger-light .ui-btn-extra:active,
.bx-ie .ui-btn-danger-light .ui-btn-menu:active,
.bx-ie .ui-btn-danger-light.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-danger-light.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-danger-light.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-danger-light.ui-btn-menu-active .ui-btn-menu {
	border-color: #f2b6b3;
	background-color: #f2b6b3;
	color: #d7413c;
}

.bx-ie .ui-btn-danger-light .ui-btn-extra:after,
.bx-ie .ui-btn-danger-light .ui-btn-menu:after { background-color: #d7413c; }

.bx-ie .ui-btn-danger-light .ui-btn-extra:before,
.bx-ie .ui-btn-danger-light .ui-btn-menu:before { border-top-color: #d7413c; }

/*endregion*/

/*region Primary button */
.bx-ie .ui-btn-primary.ui-btn,
.bx-ie .ui-btn-primary .ui-btn-main,
.bx-ie .ui-btn-primary .ui-btn-extra,
.bx-ie .ui-btn-primary .ui-btn-menu {
	border-color: #3bc8f5;
	background-color: #3bc8f5;
	color: #fff;
}

.bx-ie .ui-btn-primary.ui-btn:hover,
.bx-ie a.ui-btn-primary.ui-btn:focus,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-primary .ui-btn-main:hover,
.bx-ie .ui-btn-primary .ui-btn-extra:hover,
.bx-ie .ui-btn-primary .ui-btn-menu:hover,
.bx-ie .ui-btn-primary.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-primary.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-menu-hover .ui-btn-menu {
	border-color: #3eddff;
	background-color: #3eddff;
	color: #fff;
}

.bx-ie .ui-btn-primary.ui-btn:active,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-active,
.bx-ie .ui-btn-primary.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-primary .ui-btn-main:active,
.bx-ie .ui-btn-primary .ui-btn-extra:active,
.bx-ie .ui-btn-primary .ui-btn-menu:active,
.bx-ie .ui-btn-primary.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-primary.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-primary.ui-btn-menu-active .ui-btn-menu {
	border-color: #12b1e3;
	background-color: #12b1e3;
	color: #fff;
}

.bx-ie .ui-btn-primary .ui-btn-extra:after,
.bx-ie .ui-btn-primary .ui-btn-menu:after { background-color: #fff; }

.bx-ie .ui-btn-primary .ui-btn-extra:before,
.bx-ie .ui-btn-primary .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Primary Dark button */
.bx-ie .ui-btn-primary-dark.ui-btn,
.bx-ie .ui-btn-primary-dark .ui-btn-main,
.bx-ie .ui-btn-primary-dark .ui-btn-extra,
.bx-ie .ui-btn-primary-dark .ui-btn-menu {
	border-color: #3a9fc2;
	background-color: #3a9fc2;
	color: #fff;
}

.bx-ie .ui-btn-primary-dark.ui-btn:hover,
.bx-ie a.ui-btn-primary-dark.ui-btn:focus,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-primary-dark .ui-btn-main:hover,
.bx-ie .ui-btn-primary-dark .ui-btn-extra:hover,
.bx-ie .ui-btn-primary-dark .ui-btn-menu:hover,
.bx-ie .ui-btn-primary-dark.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-primary-dark.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-primary-dark.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-primary-dark.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-primary-dark.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-primary-dark.ui-btn-menu-hover .ui-btn-menu {
	border-color: #38aed5;
	background-color: #38aed5;
	color: #fff;
}

.bx-ie .ui-btn-primary-dark.ui-btn:active,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-active,
.bx-ie .ui-btn-primary-dark.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-primary-dark .ui-btn-main:active,
.bx-ie .ui-btn-primary-dark .ui-btn-extra:active,
.bx-ie .ui-btn-primary-dark .ui-btn-menu:active,
.bx-ie .ui-btn-primary-dark.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-primary-dark.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-primary-dark.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-primary-dark.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-primary-dark.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-primary-dark.ui-btn-menu-active .ui-btn-menu {
	border-color: #38aed5;
	background-color: #38aed5;
	color: #fff;
}

.bx-ie .ui-btn-primary-dark .ui-btn-extra:after,
.bx-ie .ui-btn-primary-dark .ui-btn-menu:after { background-color: #fff; }

.bx-ie .ui-btn-primary-dark .ui-btn-extra:before,
.bx-ie .ui-btn-primary-dark .ui-btn-menu:before { border-top-color: #fff; }

/*endregion*/

/*region Secondary button */
.bx-ie .ui-btn-secondary.ui-btn,
.bx-ie .ui-btn-secondary .ui-btn-main,
.bx-ie .ui-btn-secondary .ui-btn-extra,
.bx-ie .ui-btn-secondary .ui-btn-menu {
	border-color: #c5e7f4;
	background-color: #c5e7f4;
	color: #535c69;
}

.bx-ie .ui-btn-secondary.ui-btn:hover,
.bx-ie a.ui-btn-secondary.ui-btn:focus,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-secondary .ui-btn-main:hover,
.bx-ie .ui-btn-secondary .ui-btn-extra:hover,
.bx-ie .ui-btn-secondary .ui-btn-menu:hover,
.bx-ie .ui-btn-secondary.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-secondary.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-menu-hover .ui-btn-menu {
	border-color: #d1eef9;
	background-color: #d1eef9;
	color: #535c69;
}

.bx-ie .ui-btn-secondary.ui-btn:active,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-active,
.bx-ie .ui-btn-secondary.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-secondary .ui-btn-main:active,
.bx-ie .ui-btn-secondary .ui-btn-extra:active,
.bx-ie .ui-btn-secondary .ui-btn-menu:active,
.bx-ie .ui-btn-secondary.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-secondary.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-secondary.ui-btn-menu-active .ui-btn-menu {
	border-color: #aee0f2;
	background-color: #aee0f2;
	color: #535c69;
}

.bx-ie .ui-btn-secondary .ui-btn-extra:after,
.bx-ie .ui-btn-secondary .ui-btn-menu:after { background-color: #535c69; }

.bx-ie .ui-btn-secondary .ui-btn-extra:before,
.bx-ie .ui-btn-secondary .ui-btn-menu:before { border-top-color: #535c69; }

/*endregion*/

/*region Link button */
.bx-ie .ui-btn-link.ui-btn,
.bx-ie .ui-btn-link .ui-btn-main,
.bx-ie .ui-btn-link .ui-btn-extra,
.bx-ie .ui-btn-link .ui-btn-menu {
	border-color: transparent;
	background-color: transparent;
	color: #000;
}

.bx-ie .ui-btn-link.ui-btn:hover,
.bx-ie a.ui-btn-link.ui-btn:focus,
.bx-ie .ui-btn-link.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-link .ui-btn-main:hover,
.bx-ie .ui-btn-link .ui-btn-extra:hover,
.bx-ie .ui-btn-link .ui-btn-menu:hover,
.bx-ie .ui-btn-link.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-link.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-link.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-link.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-link.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-link.ui-btn-menu-hover .ui-btn-menu {
	border-color: transparent;
	background-color: transparent;
	color: #000;
}

.bx-ie .ui-btn-link.ui-btn:active,
.bx-ie .ui-btn-link.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-link.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-link.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-link.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-link.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-link.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-link.ui-btn.ui-btn-active,
.bx-ie .ui-btn-link.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-link .ui-btn-main:active,
.bx-ie .ui-btn-link .ui-btn-extra:active,
.bx-ie .ui-btn-link .ui-btn-menu:active,
.bx-ie .ui-btn-link.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-link.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-link.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-link.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-link.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-link.ui-btn-menu-active .ui-btn-menu {
	border-color: transparent;
	background-color: transparent;
	color: #000;
}

.bx-ie .ui-btn-link .ui-btn-extra:after,
.bx-ie .ui-btn-link .ui-btn-menu:after { background-color: #535c69; }

.bx-ie .ui-btn-link .ui-btn-extra:before,
.bx-ie .ui-btn-link .ui-btn-menu:before { border-top-color: #535c69; }

/*endregion*/

/*region Light button */
.bx-ie .ui-btn-light.ui-btn,
.bx-ie .ui-btn-light .ui-btn-main,
.bx-ie .ui-btn-light .ui-btn-extra,
.bx-ie .ui-btn-light .ui-btn-menu {
	border-color: transparent;
	background-color: transparent;
	color: #535c69;
}

.bx-ie .ui-btn-light.ui-btn:hover,
.bx-ie a.ui-btn-light.ui-btn:focus,
.bx-ie .ui-btn-light.ui-btn.ui-btn-hover,
.bx-ie .ui-btn-light .ui-btn-main:hover,
.bx-ie .ui-btn-light .ui-btn-extra:hover,
.bx-ie .ui-btn-light .ui-btn-menu:hover,
.bx-ie .ui-btn-light.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-light.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-menu-hover .ui-btn-menu {
	border-color: #f6f8f9;
	background-color: #f6f8f9;
	color: #333;
}

.bx-ie .ui-btn-light.ui-btn:active,
.bx-ie .ui-btn-light.ui-btn.ui-btn-wait,
.bx-ie .ui-btn-light.ui-btn.ui-btn-wait:hover,
.bx-ie .ui-btn-light.ui-btn.ui-btn-wait:active,
.bx-ie .ui-btn-light.ui-btn.ui-btn-clock,
.bx-ie .ui-btn-light.ui-btn.ui-btn-clock:hover,
.bx-ie .ui-btn-light.ui-btn.ui-btn-clock:active,
.bx-ie .ui-btn-light.ui-btn.ui-btn-active,
.bx-ie .ui-btn-light.ui-btn.ui-btn-active:hover,
.bx-ie .ui-btn-light .ui-btn-main:active,
.bx-ie .ui-btn-light .ui-btn-extra:active,
.bx-ie .ui-btn-light .ui-btn-menu:active,
.bx-ie .ui-btn-light.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-light.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-light.ui-btn-menu-active .ui-btn-menu {
	border-color: #d6f1fb;
	background-color: #d6f1fb;
	color: #000;
}

.bx-ie .ui-btn-light .ui-btn-extra:after,
.bx-ie .ui-btn-light .ui-btn-menu:after { background-color: #535c69; }

.bx-ie .ui-btn-light .ui-btn-extra:before,
.bx-ie .ui-btn-light .ui-btn-menu:before { border-top-color: #535c69; }

/*endregion*/

/*region Light-border button*/
.bx-ie .ui-btn-light-border.ui-btn,
.bx-ie .ui-btn-light-border .ui-btn-main,
.bx-ie .ui-btn-light-border .ui-btn-extra,
.bx-ie .ui-btn-light-border .ui-btn-menu {
	border-color: #c4cace;
	background-color: transparent;
	color: #535b69;
}

.bx-ie .ui-btn-light-border.ui-btn:hover,
.bx-ie a.ui-btn-light-border.ui-btn:focus,
.bx-ie .ui-btn-light-border.ui-btn-hover,
.bx-ie .ui-btn-light-border .ui-btn-main:hover,
.bx-ie .ui-btn-light-border .ui-btn-extra:hover,
.bx-ie .ui-btn-light-border .ui-btn-menu:hover,
.bx-ie .ui-btn-light-border.ui-btn-hover .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-hover .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-hover .ui-btn-menu,
.bx-ie .ui-btn-light-border.ui-btn-main-hover .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-extra-hover .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-menu-hover .ui-btn-menu {
	border-color: #9fa4ab;
	background-color: #f6f8f9;
	color: #535b69;
}

.bx-ie .ui-btn-light-border.ui-btn:active,
.bx-ie .ui-btn-light-border.ui-btn-wait,
.bx-ie .ui-btn-light-border.ui-btn-wait:hover,
.bx-ie .ui-btn-light-border.ui-btn-wait:active,
.bx-ie .ui-btn-light-border.ui-btn-clock,
.bx-ie .ui-btn-light-border.ui-btn-clock:hover,
.bx-ie .ui-btn-light-border.ui-btn-clock:active,
.bx-ie .ui-btn-light-border.ui-btn-active,
.bx-ie .ui-btn-light-border.ui-btn-active:hover,
.bx-ie .ui-btn-light-border .ui-btn-main:active,
.bx-ie .ui-btn-light-border .ui-btn-extra:active,
.bx-ie .ui-btn-light-border .ui-btn-menu:active,
.bx-ie .ui-btn-light-border.ui-btn-active .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-active .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-active .ui-btn-menu,
.bx-ie .ui-btn-light-border.ui-btn-main-active .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-extra-active .ui-btn-extra,
.bx-ie .ui-btn-light-border.ui-btn-menu-active .ui-btn-menu {
	border-color: #9fa4ab;
	background-color: #d6f1fb;
	color: #535b69;
}

.bx-ie .ui-btn-light-border .ui-btn-extra:after,
.bx-ie .ui-btn-light-border .ui-btn-menu:after { background-color: #535c69; }

.bx-ie .ui-btn-light-border .ui-btn-extra:before,
.bx-ie .ui-btn-light-border .ui-btn-menu:before { border-top-color: #535c69; }

/*endregion*/

/*endregion*/

/*region Others*/

/*region Border radius */
.bx-ie .ui-btn-round,
.bx-ie .ui-btn-round.ui-btn-md { border-radius: 19.5px; }

.bx-ie .ui-btn-round.ui-btn-lg { border-radius: 23.5px; }

.bx-ie .ui-btn-round.ui-btn-sm { border-radius: 16.5px; }

.bx-ie .ui-btn-round.ui-btn-xs { border-radius: 13px; }

/*endregion*/


/*region Dropdown*/
.bx-ie .ui-btn.ui-btn-link.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-secondary.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-light.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-success.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-light-border.ui-btn-dropdown:before,
.bx-ie .ui-btn-link.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-secondary.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-light.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-success.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-light-border.ui-btn-dropdown .ui-btn-main:before { border-color: #535c69; }

.bx-ie .ui-btn.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-danger.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-primary.ui-btn-dropdown:before,
.bx-ie .ui-btn.ui-btn-default.ui-btn-dropdown:before,
.bx-ie .ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-danger.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-primary.ui-btn-dropdown .ui-btn-main:before,
.bx-ie .ui-btn-default.ui-btn-dropdown .ui-btn-main:before { border-color: #fff; }

/*endregion*/

/*region Disabled*/
.bx-ie .ui-btn.ui-btn-disabled,
.bx-ie .ui-btn.ui-btn-disabled:hover,
.bx-ie .ui-btn.ui-btn-disabled:active,
.bx-ie .ui-btn-disabled .ui-btn-main,
.bx-ie .ui-btn-disabled .ui-btn-main:hover,
.bx-ie .ui-btn-disabled .ui-btn-main:active,
.bx-ie .ui-btn-disabled .ui-btn-extra,
.bx-ie .ui-btn-disabled .ui-btn-extra:hover,
.bx-ie .ui-btn-disabled .ui-btn-extra:active,
.bx-ie .ui-btn-disabled .ui-btn-menu,
.bx-ie .ui-btn-disabled .ui-btn-menu:hover,
.bx-ie .ui-btn-disabled .ui-btn-menu:active,
.bx-ie .ui-btn-main-disabled .ui-btn-main,
.bx-ie .ui-btn-main-disabled .ui-btn-main:hover,
.bx-ie .ui-btn-main-disabled .ui-btn-main:active,
.bx-ie .ui-btn-extra-disabled .ui-btn-extra,
.bx-ie .ui-btn-extra-disabled .ui-btn-extra:hover,
.bx-ie .ui-btn-extra-disabled .ui-btn-extra:active,
.bx-ie .ui-btn-menu-disabled .ui-btn-menu,
.bx-ie .ui-btn-menu-disabled .ui-btn-menu:hover,
.bx-ie .ui-btn-menu-disabled .ui-btn-menu:active {
	border-color: #3b506e;
	background-color: #3b506e;
	color: #fff;
	opacity: .4;
	cursor: not-allowed;
}

/*endregion*/

/*region Wait*/
.bx-ie .ui-btn.ui-btn-wait,
.bx-ie .ui-btn-wait .ui-btn-main {
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
}

.bx-ie .ui-btn.ui-btn-wait:after,
.bx-ie .ui-btn-wait .ui-btn-main:after { opacity: 0; }

.bx-ie .ui-btn.ui-btn-wait,
.bx-ie .ui-btn-wait .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-wait-white.min.svg); }

.bx-ie .ui-btn.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-danger.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-primary.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-default.ui-btn-wait,
.bx-ie .ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-wait .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-wait-white.min.svg); }

.bx-ie .ui-btn.ui-btn-link.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-secondary.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-light.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-success.ui-btn-wait,
.bx-ie .ui-btn.ui-btn-light-border.ui-btn-wait,
.bx-ie .ui-btn-link.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-wait .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-wait .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-wait-black.min.svg); }

/*endregion*/

/*region Clock*/
.bx-ie .ui-btn.ui-btn-clock,
.bx-ie .ui-btn-double.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-split.ui-btn-clock .ui-btn-main {
	background-position: center;
	background-repeat: no-repeat;
	color: transparent !important;
}

.bx-ie .ui-btn.ui-btn-clock:after,
.bx-ie .ui-btn-double.ui-btn-clock .ui-btn-main:after,
.bx-ie .ui-btn-split.ui-btn-clock .ui-btn-main:after { opacity: 0; }

.bx-ie .ui-btn.ui-btn-clock,
.bx-ie .ui-btn-clock .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-clock-white.min.svg); }

.bx-ie .ui-btn.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-danger.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-primary.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-default.ui-btn-clock,
.bx-ie .ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-danger.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-primary.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-default.ui-btn-clock .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-clock-white.min.svg); }

.bx-ie .ui-btn.ui-btn-link.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-secondary.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-light.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-success.ui-btn-clock,
.bx-ie .ui-btn.ui-btn-light-border.ui-btn-clock,
.bx-ie .ui-btn-link.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-secondary.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-light.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-success.ui-btn-clock .ui-btn-main,
.bx-ie .ui-btn-light-border.ui-btn-clock .ui-btn-main { background-image: url(/bitrix24-ui-reference/bitrix/js/ui/buttons/images/ui-loader-clock-black.min.svg); }

/*endregion*/

/*endregion*/
